body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  /* Estilos para a calculadora */
  .container {
    text-align: center;
  }

  h2 {
    color: #007bff;
  }

  p {
    color: #ffffff;
    margin-bottom: 10px;
  }

  input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center; /* Centraliza texto na entrada de texto */
  }

  button {
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3;
  }

  #resultado {
    margin-top: 20px;
    font-weight: bold;
    color: #007bff;
  }